*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    background-color: black;
    color:white;

}
.navbar{
    display:flex;
    position:sticky;
    top:0px;
  
    margin:0px auto;
    padding: 0px;
    z-index:1000;
     backdrop-filter:blur(10px);
    background:rgba(0,0,0,0.6);
    left:0px;
    width:100%;
    
}
.nav-logo{
   
    margin-left:10px;
    margin-top: 10px;
}
.nav-logo svg{
    width:100px;
    height:auto;
}
.nav-links{
    display: flex;
    gap:5px;
    justify-content:center;
    align-items: center;
    margin-top: 10px;
    margin-left:19rem;
    
    
}
.nav-links a{
    color:white;
    font-weight: bold;
    font-size: 15px;
    margin:0px 10px;
    text-decoration: none;
}

.nav-buttons{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-left: 13rem;
    gap:10px;
}
.nav-buttons a{
    color:white;
    text-decoration:none;

}
.nav-buttons a:hover{
    color:lightgrey;
}
.nav-black{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1b1912;
    border: 1px solid #201e17;
    color: white;
    padding:5px 12px;
    border-radius: 25px;
    border:0.1px solid white;
    font-size: 13px;
    
}
.nav-black:hover{
    transform:scale(1.0001);
}
.nav-white{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:2px;
    background-color: white;
    color:black;
    font-weight:50px;
    padding:5px 12px;
    border-radius: 25px;
    border:0.1px solid white;
    font-size: 13px;
    letter-spacing: 1px;

}
.nav-white:hover{
    transform:scale(1.0001);
    background-color:lightgrey;
}

.hero-content{
    
    margin-top: 120px;
    margin-left:20px;
}
.hero-content p{
    
    font-size:32px;
}
.hero-buttons{
    display:flex;
    align-items: center;
    justify-content:center;
    
    margin-left:20px;
    margin-top: 20px;
    width:fit-content;
    gap:20px;
}
.hero-white{
    display:flex;
    align-items: center;
    justify-content:center;
    padding:10px 20px;
    border-radius: 30px;
}
.hero-white p{
    font-size:16px;
    
}
.hero-black{
    display:flex;
    align-items: center;
    justify-content:center;
    padding:10px 20px;
    border-radius: 20px;
    gap:5px;
    background-color:rgb(34, 33, 29);

}
.hero-black p{
    color:white;
    font-size:16px;
}
.hero-black svg{
    color:white;
}
.hero-white:hover {
    background: rgba(255, 255, 255, 0.774);
    
}
.hero-black:hover{
    background: rgba(34,33,29,0.85);
}
.hero-image{
    width: calc(100% - 40px);
    background: url(./assets/cursor-wallpaper.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:10px;
    padding: 40px;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:50px;
    position:relative;
    margin-left:20px;
   
}
.hero-image1{
    
    max-width:100%;
    min-height:auto;
    border-radius: 10px;
}
.hero-image2{
    max-width: 32%;
    min-height:auto;
    border-radius: 10px;
    position: absolute;
    top: 49%;
    left: 58%;
}
.trusted {
    padding-bottom: 90px;
    
}
.trusted-para{
    margin-top:65px;
    text-align: center;
    font-size: 15px;

}
.trusted-companies{
    width: calc(100% - 40px);
    display:grid;
    grid-template-columns: repeat(8,1fr);
    gap:10px;
    margin-top:20px;
    margin-left:20px;
}
.company{
    background-color: #1b1912;
    padding: 24px 12px;
    border-radius: 5px;
    border: 1px solid #201e17;
    letter-spacing: 1px;
    flex: 1;
    min-width: 120px;
    margin-top:
}
.company svg{
    width:8vw;
    height:8vh;
}

